name: CI/CD

on: 
  push:
  workflow_dispatch:
  # Run Everyday
  schedule:
    - cron:  '0 2 * * *'

jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
  
    steps:
      - name: Download Code
        uses: actions/checkout@v2
  
      - name: SAST
        run: |
          curl -fsSL https://raw.githubusercontent.com/ZupIT/horusec/main/deployments/scripts/install.sh | bash -s latest
          horusec start -p="./" -e="true"
  
      - name: SCA IAC
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "config"
          hide-progress: false
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          severity: "UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL"
          skip-dirs: ./test
    
      - name: SCA Dependencies
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          hide-progress: false
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          severity: "UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL"
          skip-dirs: ./test

      - name: DockerHub Login
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_LOGIN }}
          password: ${{ secrets.DOCKERHUB_PASS }}
    
      - name: Build Artefacts
        uses: docker/build-push-action@v2.6.1
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            brunobotelhobr/my-sample-api:${{ github.run_number }}
            brunobotelhobr/my-sample-api:latest

      - name: SCA Artefacts
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "image"
          image-ref: "brunobotelhobr/my-sample-api:${{ github.run_number }}"
          hide-progress: false
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          severity: "UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL"


  CD:
    runs-on: ubuntu-latest
    needs: [CI]

    steps:
      - name: Download Code
        uses: actions/checkout@v2

      - name: Okteto Login
        uses: okteto/context@latest
        with:
          token: ${{ secrets.OKTETO_API_KEY }}

      - name: Okteto Deploy
        uses: okteto/apply@latest
        with:
          manifest: k8s/deployment.yaml

      - name: Sleep for 45s
        uses: juliangruber/sleep-action@v1
        with:
          time: 45s

      - name: DAST
        uses: zaproxy/action-api-scan@v0.1.0
        with:
          target: https://api-service-brunobotelhobr.cloud.okteto.net/openapi.yaml
          format: openapi
          rules_file_name: .zap_ignore
          allow_issue_writing: false
          cmd_options: "-a"
          fail_action: true


  QA:
    needs: [CD]
    runs-on: ubuntu-latest

    steps:
      - name: Download Code
        uses: actions/checkout@v2

      - name: Sleep for 45s
        uses: juliangruber/sleep-action@v1
        with:
          time: 45s

      - name: QA tests
        run: chmod +x test/qa.sh; test/qa.sh

